*{
    margin-left: 25px;
    margin-top: 30px;
}
.looking-for-a-lollip {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    width: 489px;
    text-align: left;
  }
  .pic{
    margin-left: 600px;
    margin-top: -400px;
  }
  .pic img{
    height: 444px;
  }
  .body {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 489px;
    text-align: left;
  }
  .bg {
    background-color: #0099FF;
    border-radius: 3px;
    width: 220px;
    height: 43px;
    margin-left: 45px;
    background-repeat: no-repeat;

  }
  span.span1{
    color: #0099FF;


  }
  
  .cta-text {
    color: #FFFFFF;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    margin-left: -5px;

    text-align: center;
  }
  .cta-text1 {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 3px;
    margin-left: -5px;
    margin-top: -15px;
    width: 211px;
    text-align: center;
  }
  .outline {
    border: 2px solid #0099FF;
    border-radius: 3px;
    margin-left: 285px;
    margin-top: -44px;
    width: 220px;
    height: 40px;
  }
  .bg1 {
    background-image: linear-gradient(44.59deg, #D5E2E9 0%, #EAEEF1 100%);
    width: 1267px;
    height: 409px;
  }
  .this-is-a-heading-in {
    color: #31373D;
    margin-left:-120px;
    font-family: AktivGrotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin-top: -400px;
  }
  .compare-pricing-toda {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-left:-50px;

  }
  .lorem-ipsum-is-simpl {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 449px;
    margin-top: -30px;
    margin-left: 550px;
  }
  .rectangle {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 500px;
    height: 43px;
    margin-left: 520px;
    margin-top: 0px;
  }
  .serving1 {
    color: #4A4A4A;
   margin-left: -30px;
margin-top: -50px;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    background-color: #FFFFFF;
    height: 46px;
    width: 120px;

  }
  .rectangle1 {
    background-color: #DCD3D3;
    margin-top: -30px;
    margin-left: 110px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 2px;
    height: 46px;
  }
  .serving2 {
    color: #4A4A4A;
    margin-left: 0px;
   margin-top: -65px;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    background-color: #FFFFFF;
    height: 46px;
    width: 130px;


  }
  .rectangle2 {
    background-color: #DCD3D3;
    margin-top: -40px;
    margin-left: 240px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 2px;
    height: 46px;
  }
  .serving3 {
    color: #4A4A4A;
    margin-left: 0px;
   margin-top: -65px;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    background-color: #FFFFFF;
    width: 130px;

    height: 46px;
  }
  .rectangle3 {
    background-color: #DCD3D3;
    margin-top: -40px;
    margin-left: 370px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 2px;
    height: 46px;
  }
  .serving4 {
    color: #4A4A4A;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: right;
    margin-left: 400px;
    margin-top: -65px;
  }
  .rectangle4 {
    background-color: #DCD3D3;
    margin-top: -40px;
    margin-left: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 2px;
    height: 46px;
  }
  .annual {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 72px;
    text-align:center;
    margin-left: 0px;
    margin-top: 200px;
  }
  .off {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 80px;
    margin-top: 0px;
    margin-left: -3px;
  }
  .box{
    background-color: #D8D8D8;
    border-radius: 7px;
    opacity: 0.6388346354166666;
    width: 44px;
    height: 14px;
    margin-top: -50px;
    margin-left: 100px;
  }
  .oval {
    background-color: #0099FF;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin-top: -20px;
    margin-left: 120px;
  }
  .monthly {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 83px;
    margin-top: -40px;
    margin-left: 0px;
  }
  .rectangle-copy-17 {
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
    width: 476px;
    height: 200px;
    margin-top: 50px;
    margin-left: 430px;
  }
  
  
  .rectangle-copy-18 {
    background-color: #F9F9F9;
    width: 2px;
   margin-top: -15px;
    margin-left:250px ;
    height: 202px;
  }
  .lollipop {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    
    margin-top: -180px;
    margin-left: -550px;
  }
  .h100 {
    color: #3D3C31;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    margin-top: -50px;
    margin-left: -550px;
    
  }
  .body-copy-35 {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 100px;
    margin-top: -55px;
    margin-left: 530px;
    
  }
  .body-copy-5 {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 156px;
    margin-top: -30px;
    margin-left: 440px; 
  
  }
  .icecandy {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: -140px;
    margin-left: -40px;
  }
  .h200 {
    color: #3D3C31;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    
    margin-left: -130px;
  }
  .body-copy-36 {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 100px;
    text-align: left;
    margin-top: -55px;
    margin-left: 740px; 
  }
  .body-copy-6 {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 250px;
    
    margin-top: -30px;
    margin-left: 620px; 
  }
  .rectangle-copy-19 {
    background-color: #FFFFFF;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    width: 214px;
    height: 230px;
    margin-top: -190px;
    margin-left: 890px; 
  }
  .your-savings-with-lo {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    width:150px;
    margin-top: -200px;
    margin-left: 900px; 
  }
  .hh100 {
    color: #0099FF;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    margin-top: -25px;
    margin-left: 330px; 
  }
  .body-copy-37 {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 100px;
    text-align: left;
    margin-top: -35px;
    margin-left: 900px; 
  }
  .heres-what-our-cust {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }
  .bitmap {
    width: 417px;
    height: 278px;
    margin-left: 300px;
  }
  .path {
    color: #0099FF;
    font-family: AktivGrotesk-MediumItalic    ;
  }
  .lorem-ipsum-is-simpl1 {
    color: #8B8E91;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    width: 366px;
    margin-left: 720px;
    margin-top: -280px;
    text-align: left;
  }
  .raja-ram {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    margin-left: 100px;
    margin-top: 0px;
  }
  .tip-world {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-left: 100px;
    margin-top: -30px;
  }
  .oval1 {
    background-color: #0099FF;
    border-radius: 100%;
    width: 9px;
    margin-left: 750px;
    margin-top: 105px;
    height: 9px;
  }
  .oval-copy1 {
    background-image: linear-gradient(221.9deg, #D5E2E9 0%, #EAEEF1 100%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
  }
  .loved-by-users-reco-copy-2 {
    color: #31373D;
    font-family: AktivGrotesk;
    font-size: 30px;
    font-weight: 700;
    width: 400px;
    line-height: 34px;
    text-align: left;
    margin-top: 200px;
    margin-left: 250px;
  }
  .shape {
    background-color: #0099FF;
    border-radius: 3px;
    width: 220px;
    height: 48px;
  }
  .primary-cta2 {
    color: #FFFFFF;
    font-family: AktivGrotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }